<div id="proyectos" class="container">
    <div class="cards">
        <div class="card">
            <div class="cover">
                <div class="blogfoto">
                    <img class="ordenadorcrm" src="../../../assets/images/ordenador.png" alt="">
                    <img class="movilcrm" src="../../../assets/images/movil.png" alt="">
                </div>
                <div class="img_back"></div>
            </div>
            <div class="description">
                <h2>TimeHub</h2>
                <p>TimeHub es un CRM de empleados con una interfaz para usuarios y otra para administradores.
                </p>
                <input type="button" value="Demo">
                   
            </div>
        </div>
        <div class="card">
            <div class="cover">
                <div class="blogfoto">
                    <img class="ordenadorblog" src="../../../assets/images/ordenador.png" alt="">
                    <img class="movilblog" src="../../../assets/images/movil.png" alt="">
                </div>
                <div class="img_back"></div>
            </div>
            <div class="description">
                <h2>DecoConsejos</h2>
                <p>Blog con una interfaz muy atractiva, en el que puedes crear y borrar post en cualquier momento
                </p>
                <input type="button" value="Demo">
            </div>
        </div>
        <div class="card">
            <div class="cover">
                <div class="blogfoto">
                    <img class="ordenadorportafolio" src="../../../assets/images/ordenador.png" alt="">
                    <img class="movilportafolio" src="../../../assets/images/movil.png" alt="">
                </div>
                <div class="img_back"></div>
            </div>
            <div class="description">
                <h2>Portafolio</h2>
                <p>Web personal, en la que demuestro mi capacidad para ser creativa y muestro mi trabajo</p>
                <input type="button" value="Demo">
                   
            </div>
        </div>
    </div>

</div>