/* para centrar todo */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 100%;
}

/* inicio menu */
.menu {
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: -10%;
    cursor: pointer;
    transition: .5s;

}

.menu:hover {
    transform: scale(1.2);
}

.menu img {
    width: 40px;
    height: auto;
}

.menu a {
    margin-top: 10%;
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

/* fin menu */

/* inicio titulo  */
.titulo {
    display: flex;
    flex-direction: column;
    margin-bottom: -5%;
}

.banner_title h2 {
    color: #fff;
    /*     font-size: 60px; */
    font-size: 30px;
    font-weight: 800;

    float: left;
    position: relative;
}



/* fin titulo */

/* inicio imagen de hola */


.hola {
    display: block;
    width: 150%;
    height: auto;
}

/* fin imagen hola */


/* burbujas */
.burbuja {
    border-radius: 50%;
    max-width: 100%;
    position: absolute;
    bottom: -150;
    animation: burbujas 0s linear infinite;
}

.burbuja:nth-child(1) {
    width: 150px;
    height: 150px;
    left: 0%;
    animation-duration: 5s;
}

.burbuja:nth-child(2) {
    width: 70px;
    height: 70px;
    left: 20%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 30%;
    animation-duration: 9s;
}

.burbuja:nth-child(4) {
    width: 90px;
    height: 90px;
    left: 40%;
    animation-duration: 11.5s;
}

.burbuja:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-duration: 6s;
    animation-delay: 3s;

}

.burbuja:nth-child(6) {
    width: 160px;
    height: 160px;
    left: 60%;
    animation-duration: 3.5s;
    animation-delay: 3s;

}

.burbuja:nth-child(7) {
    width: 30px;
    height: 30px;
    left: 70%;
    animation-duration: 4.2s;
}

.burbuja:nth-child(8) {
    width: 100px;
    height: 100px;
    left: 80%;
    animation-duration: 7.5s;
}


.burbuja:nth-child(9) {
    width: 70px;
    height: 70px;
    left: 90%;
    animation-duration: 8.5s;
}

/* fin burbujas */

/* Animaciones */
@keyframes burbujas {
    0% {
        bottom: 0;
        background-color: #ffffff00;
    }

    20% {
        transform: translateX(40px);
    }

    60% {
        background-color: #ffffff7f;
        transform: translateY(40px);

    }

    100% {
        bottom: 100vh;
        background-color: #ffffff00;
    }
}

/* fin animaciones */

/*  media queries */

@media(min-width: 768px) {

    .menu {
        font-size: 20px;
    }

    .menu img {
        width: 100px;
        margin-top: 10%;
    }

    .menu p {
        margin-top: 15%;
    }


    .banner_title h2 {
        /*     font-size: 60px; */
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    .menucompleto {
        display: flex;
    }

    .menu {
        font-size: 20px;
    }

    .menu img {
        width: 150px;
        margin-top: 10%;
    }

    .menu p {
        margin-top: 20%;
    }

    .banner_title h2 {
        font-size: 60px;
    }

    .hola {
        width: 100%;

    }
}

/* fin media queries */