.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 0 40px;
}

.box__copyright p {

    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}