<nav class="navbar navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../../../assets/images/vijilar.png" width="70" height="60" class="d-inline-block align-top"
                alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#basic-navbar-nav"
            aria-controls="basic-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basic-navbar-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="onUpdateActiveLink('inicio')" href="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeLink === 'herramientas'" href="#herramientas"
                        (click)="onUpdateActiveLink('skills')">Herramientas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeLink === 'proyectos'" href="#proyectos"
                        (click)="onUpdateActiveLink('projects')">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeLink === 'sobremi'" href="#sobremi"
                        (click)="onUpdateActiveLink('projects')">Sobre mi</a>
                </li>
            </ul>
            <span class="navbar-text">
                <div class="social-icon">
                    <a href="https://github.com/vanessaduquerubio"><img src="../../../assets/images/github.png"
                            alt="" /></a>
                    <a href="mailto:vanessaduquerubio@gmail.com"><img src="../../../assets/images/gmail.png"
                            alt="" /></a>
                    <a href="https://www.linkedin.com/in/vanessaduquefullstackdeveloped/"><img
                            src="../../../assets/images/linkedin.png" alt="" /></a>
                </div>

            </span>
        </div>
    </div>
</nav>