.sobremi {
    background: rgb(129, 193, 245);
    border-radius: 64px;
    text-align: center;
    padding: 0 10%;
}

.sobremi .contenido-seccion {
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: rgb(0, 83, 151);
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}



.sobremi .fila .intereses h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .intereses ul {
    list-style: none;
}

.sobremi .fila .intereses ul li {
    margin: 12px 0;
}

.sobremi .fila .intereses ul li strong {
    display: inline-block;
    color: rgb(0, 83, 151);
    width: 130px;
}

.sobremi .fila .intereses ul li span {
    background-color: rgb(0, 83, 151);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .intereses .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .intereses .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin: auto;
    margin-bottom: 5px;
}

.sobremi .fila .intereses .contenedor-intereses .interes:hover {
    background-color: rgb(85, 178, 255);
}

.sobremi .fila .intereses .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(85, 178, 255);
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .intereses {
        width: fit-content;
    }
}