<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre Mí</h2>
        <p><span>Hola, soy Nick Perez.</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde
            soluta minima necessitatibus, voluptas consectetur vero officiis quas, explicabo deleniti repellendus
            aliquid debitis maiores numquam voluptate reprehenderit in delectus dolores.</p>

        <div class="row fila">
            <!-- datos personales -->
            <div class="col-6 intereses">
                <h3>Datos Personales</h3>
                <ul>
                    <li>
                        <strong>Teléfono</strong>
                        <a href="call:674578488">674578488</a>
                    </li>
                    <li>
                        <strong>Email</strong>

                    </li>
                    <li>
                        <strong>Website</strong>
                        www.example.com
                    </li>
                    <li>
                        <strong>Dirección</strong>
                        123 San Luis, Argentina
                    </li>
                    <li>
                        <strong>Cargo</strong>
                        <span>FREELANCE</span>
                    </li>
                </ul>
            </div>
            <div class="col-6 intereses">
                <h3>Intereses</h3>
                <div class="contenedor-intereses">
                    <div class="interes">
                        <i class="fa-solid fa-gamepad"></i>
                        <span>JUEGOS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-headphones"></i>
                        <span>MUSICA</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-plane"></i>
                        <span>VIAJAR</span>
                    </div>
                    <div class="interes">
                        <i class="fa-brands fa-apple"></i>
                        <span>MAC OS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span>DEPORTE</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-book"></i>
                        <span>LIBROS</span>
                    </div>


                </div>
            </div>
        </div>
        <button>
            <a href="../../../assets/documentos/VanessaCv.pdf" download="cv">Descargar CV</a>
            <span class="overlay"></span>
        </button>
    </div>
</section>