<div class="container">
    <header class=" row banner contenedor ">
        <div class="banner_title col-9">
            <h2>Hello Word, I´m <br> Vanessa Duque Rubio.<span>&#160;</span> </h2>
            <div class="menucompleto col-12">
                <div class="menu">
                    <img src="../assets/images/how can I help.png" alt="">

                    <p routerLink="/herramientas"> Herramientas</p>
                </div>
                <div class="menu">
                    <img src="../assets/images/sticker(1).png" alt="">

                    <p routerLink="/proyectos">Proyectos</p>
                </div>
                <div class="menu">
                    <img src="../assets/images/tin can phone.png" alt="">
                    <p routerLink="/contacto"> Contacto
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <figure class="banner_img">
                <img class="hola" src="../assets/images/waving.png" alt="">
            </figure>
        </div>


    </header>
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</div>