<div class="container">
    <header class=" row banner contenedor ">
        <div class="banner_title col-9">
            <div class="titulo">
                <h2>Hello Word,</h2>
                <h2>I´m <span #maquina></span></h2>
            </div>
            <div class="menucompleto col-12">
                <div routerLink="/herramientas" class="menu">
                    <img src="../../../assets/images/herramientas.png" alt="">

                    <p> Herramientas</p>
                </div>
                <div routerLink="/proyectos" class="menu">
                    <img src="../assets/images/sticker(1).png" alt="">

                    <p>Proyectos</p>
                </div>
                <div routerLink="/contacto" class="menu">
                    <img src="../assets/images/tin can phone.png" alt="">
                    <p> Contacto
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <figure class="banner_img">
                <img class="hola" src="../assets/images/hola.png" alt="">
            </figure>
        </div>


    </header>
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</div>