<div class="container">
    <div class="slider">
        <span style="--i:1"><img src="../../../assets/images/angular.png" alt=""></span>
        <span style="--i:1"><img
                src="../../../assets/images/png-transparent-html-html-logo-html-5-html-five-logo-html-5-logo-programming-langugae-3d-icon-thumbnail.png"
                alt=""></span>
        <span style="--i:2"><img src="../../../assets/images/css.png" alt=""></span>
        <span style="--i:3"><img src="../../../assets/images/bootstrap-logo-vector.svg" alt=""></span>
        <span style="--i:4"><img src="../../../assets/images/html.png" alt=""></span>
        <span style="--i:5"><img src="../../../assets/images/github.png" alt=""></span>

        <span style="--i:6"><img src="../../../assets/images/mysql.png" alt=""></span>
        <span style="--i:7"><img src="../../../assets/images/mongodb.png" alt=""></span>
        <span style="--i:8"><img src="../../../assets/images/sourcetree.png" alt=""></span>


    </div>
</div>