<div id="sobremi" class="container">

    <section class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="../../../assets/images/smiling.png" alt="">
            </div>
            <div class="sobremi">
                <h2>Sobre Mí</h2>
                <p><span>Hola, soy Vanessa Duque Rubio.</span> Innovadora, creativa y profesional. Apasionada de los
                    nuevos retos y
                    superación continua. Mantengo mi curiosidad y entusiasmo por los últimos enfoques de programación.
                    Esta pasión por la innovación me motiva a proponer ideas frescas y soluciones creativas que agregan
                    valor a los proyectos. Estoy emocionada por la oportunidad de contribuir a un equipo dinámico y
                    llevar mis habilidades de programación a otro nivel. </p>

                <button>
                    <a href="../../../assets/documentos/curriculum.pdf" download="cv">Descargar CV</a>
                    <span class="overlay"></span>
                </button>
            </div>

            <div class="redes">
                <a href="https://www.linkedin.com/in/vanessaduquefullstackdeveloped/"><img
                        src="../../../assets/images/linkedin.png" alt="linkedin"></a>
                <a href="mailto:vanessaduquerubio@gmail.com"><img src="../../../assets/images/gmail.png" alt="gmail">
                </a>
                <a href="https://github.com/vanessaduquerubio">
                    <img src="../../../assets/images/github.png" alt="github">
                </a>
                <a href="https:/api.whatsapp.com/send?phone=674578488"><img src="../../../assets/images/whatsapp.png"
                        alt="whatsapp"></a>

            </div>
        </div>
    </section>
</div>