.inicio {
    height: 100vh;
    color: #000000;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: rgb(129, 193, 245);
    max-width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenedor-img img {
    margin-top: 40px;
    border: 10px solid #ffffff;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h2 {
    margin-top: 40px;
    font-size: 42px;
}

.inicio .contenido-banner p {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 40px 5px;
    transition: .3s;
}

.inicio .contenido-banner .redes img {
    display: block;
    width: 40px;
    margin: 10px auto;
}

.inicio .contenido-banner .redes img:hover {
    transform: scale(1.3);
}