<div class="container">
    <div class="contactame">
        <img class="circulo" src="../../../assets/images/circulo.png" alt="ciruculo">
        <button class="btn btn-lg">contactame</button>
        <div class="redes">
            <img src="../../../assets/images/linkedin.png" alt="linkedin">
            <img src="../../../assets/images/gmail.png" alt="gmail">
            <img src="../../../assets/images/github.png" alt="github">
            <img src="../../../assets/images/whatsapp.png" alt="whatsapp">
        </div>
        <div class="señalar">
            <!--          <img class="arriba" src="../../../assets/images/flecha.png" alt="arriba"> -->
            <img class="derecha" src="../../../assets/images/señalar _iz.png" alt="">
            <!--    <img class="izquierda" src="../../../assets/images/flecha.png" alt="">
            <img class="manoderecha" src="../../../assets/images/flecha.png" alt="">
            <img class="manoizquierda" src="../../../assets/images/flecha.png" alt="">
            <img class="manoabajo" src="../../../assets/images/flecha.png" alt=""> -->

        </div>
    </div>
</div>